/.hg
/.hgignore
/DMS_Space_Manager/RefLib/Gigasax SpaceManager.lnk
/DMS_Space_Manager/Space_Manager.csproj.DotSettings

DMS_Space_Manager/RefLib/CaptureTaskManagerDistribution.lnk
/packages
**/.vs/
